<form action="/names" method="post">
  Player 1: <br>
  <input type="text" name="first_player_name" value="your name here"><br>
  Player 2: <br>
  <input type="text" name="second_player_name" value="your name here"><br>
  <input type="submit" value="Submit">
</form>
